<div class = "jumbotron">
  <div class = "container">
    <h3> HELLOW UOARLD </h3>
    <p> Test app. </p>
    <div class = "progress">
      <div class = "progress-bar" style = "width: 40px"></div>
      <div class = "progress-bar progress-bar-warning" style = "width: 10px"></div>
      <div class = "progress-bar progress-bar-danger" style = "width: 10px"></div>
      <div class = "progress-bar progress-bar-success" style = "width: 10px"></div>
      <div class = "progress-bar progress-bar-info" style = "width: 30px"></div> 
    </div>
  </div>
</div>

<div class = "container">
  <div class = "row">
    <div class = "col-md-12">
      <p> DOES IT WORK???? </p>
    </div>
  </div>

  <div class = "row">
    <div class = "col-md-4">
      <p> yep lmao. </p>
      <h3> Connect using Facebook </h3>
      <h3> Sign Up </h3>
      <div class = "col-md-4">
      <h4> Expose yourself!</h4>
      <h4>Expose others around you!</h4></div>
      <div class = "col-md-4"><h4>Put all the depth of your thoughts in 160 characters!</h4></div>
      <div class = "col-md-4"><h4> Take a picture of your food and post it because #hashtag ! </h4></div>
    </div>
  </div>
</div>
