// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post {
  border: 1px solid #ECF0F1;
  border-radius: 5px;
  background-color: #ECF0F1;
  padding:10px;
  margin: 10px;
}

.checkbox input {
  opacity: 1;
}
